/*
background-image url(/img/icons-cont/map.svg)
background-repeat no-repeat
background-size cover

@media mq_desktop
*/



*
    box-sizing border-box


html
body
    height 100%


.preloader
    display none


body
    position: relative
    margin 0
    min-width: 320px
    font-family font_family
    font-size font_size
    color color_text
    line-height font_line_height
    overflow-x: hidden
    overflow-y auto
    font-smoothing antialiased
    scroll-behavior smooth
    opacity 1


img
    max-width 100%
    height: auto


*::-webkit-input-placeholder
    color: #666
    opacity: 1


*:-moz-placeholder
    color: #666
    opacity: 1


*::-moz-placeholder
    color: #666
    opacity: 1


*:-ms-input-placeholder
    color: #666
    opacity: 1


body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #666


body input:required:valid,
body textarea:required:valid
    color: #666