container_max_width = 1330px

break_point_mobile = 600px
break_point_tablet = 900px
break_point_desktop = 1200px

mq_mobile = 'only screen and (min-width: 0px) and (max-width: ' + break_point_mobile + ')'
mq_tablet = 'only screen and (min-width: ' + (break_point_mobile + 1) + ')'
mq_desktop = 'only screen and (min-width: ' + (break_point_tablet + 1) + ')'
mq_wide_desktop = 'only screen and (min-width: ' + (break_point_desktop + 1) + ')'


// FONTS
font_family = RalewayRegular
font_size_xsmall = 11px
font_size_small = 13px
font_size = 16px
font_size_large = 18px
font_size_xlarge = 21px
font_size_xxlarge = 24px
font_line_height = 1.75


// COLORS
accent-color = #E81D62
//accent-color = #fdcc73
color_text = #888
color_text_dark = #363F45
color_text_green = #78C604
color_text_grey = alpha(color_text, 0.8)
color_text_light_grey = alpha(color_text, 0.5)
color_text_blue = #0462C6

color_icon_grey = alpha(color_text, 0.5)
color_icon_light_grey = alpha(color_text, 0.25)

color_border_light_grey = alpha(color_text, 0.05)

bg_grey_opacity = rgba(0, 0, 0, 0.8)
bg_grey = #FAFAFA
bg_dark = #2f2f2f
bg_black = #130D0A



// BORDER RADIUSES
border_radius_card = 4px
border_radius_button = 10px