@charset "utf-8";
@import "nib"
@import "_vars.styl"


/*BASIC STYLES*/
.clearfix
  clearfix()

* 
  box-sizing border-box
  
html
  font-size 100% 
  
body
  min-width 320px
  color $base-font-color
  font-size $base-font-size
  line-height 1.6
  font-family: "OpenSansRegular", sans-serif
  overflow-x: hidden
  font-smoothing antialiased
  scroll-behavior smooth