@charset "utf-8";
@import "nib"
@import "_vars.styl"

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  /**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  /*Disable Animation on Mobile Devices*/
  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important
  
  /*other rules*/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  /**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/