/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
@charset "utf-8";
@import "nib"

::-moz-selection  
  background: #b3d4fc 
  text-shadow: none 

::selection  
  background: #b3d4fc 
  text-shadow: none 

audio,
canvas,
iframe,
img,
svg,
video  
  vertical-align: middle 

fieldset  
  border: 0 
  margin: 0 
  padding: 0 

textarea  
  resize: vertical 

.browserupgrade  
  margin: 0.2em 0 
  background: #ff0000 
  color: #000 
  padding: 0.2em 0 

.visuallyhidden  
  border: 0 
  clip: rect(0 0 0 0) 
  height: 1px 
  margin: -1px 
  overflow: hidden 
  padding: 0 
  position: absolute 
  width: 1px 

[hidden] { display: none }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus  
  clip: auto 
  height: auto 
  margin: 0 
  overflow: visible 
  position: static 
  width: auto 

.invisible  
  visibility: hidden 

.hidden
  display none !important

@media print  
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line  
    background: transparent !important 
    color: #000 !important
    box-shadow: none !important 
    text-shadow: none !important 

  a,
  a:visited  
    text-decoration: underline 

  a[href]:after  
    content: " (" attr(href) ")" 

  abbr[title]:after  
    content: " (" attr(title) ")" 

  a[href^="#"]:after,
  a[href^="javascript:"]:after  
    content: "" 

  pre,
  blockquote  
    border: 1px solid #999 
    page-break-inside: avoid 

  thead  
    display: table-header-group 

  tr,
  img  
    page-break-inside: avoid 

  img  
    max-width: 100% !important 

  p,
  h2,
  h3  
    orphans: 3 
    widows: 3 

  h2,
  h3  
    page-break-after: avoid 