//@import url(https://fonts.googleapis.com/css?family=Comfortaa:700) 

/*if located*/
@font-face
  font-family: 'bickham_script_threeregular';
  src: url('/fonts/bickham_script_three-webfont.eot');
  src: url('/fonts/bickham_script_three-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/bickham_script_three-webfont.woff2') format('woff2'),
  url('/fonts/bickham_script_three-webfont.woff') format('woff'),
  url('/fonts/bickham_script_three-webfont.ttf') format('truetype'),
  url('/fonts/bickham_script_three-webfont.svg#bickham_script_threeregular') format('svg');
  font-weight: normal;
  font-style: normal;
