@font-face
  font-family: 'RalewayBold';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/RalewayBold/RalewayBold.eot'),
       url('/fonts/RalewayBold/RalewayBold.woff'),
       url('/fonts/RalewayBold/RalewayBold.ttf');

@font-face
  font-family: 'RalewayRegular';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/RalewayRegular/RalewayRegular.eot'),
       url('/fonts/RalewayRegular/RalewayRegular.woff'),
       url('/fonts/RalewayRegular/RalewayRegular.ttf');
       
@font-face
  font-family: 'RalewaySemiBold';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/RalewaySemiBold/RalewaySemiBold.eot'),
       url('/fonts/RalewaySemiBold/RalewaySemiBold.woff'),
       url('/fonts/RalewaySemiBold/RalewaySemiBold.ttf');
