@charset "utf-8";
@import "nib"
@import "_vars.styl"
@import "fonts.styl"
/*RESET BROWSER'S STYLES*/
global-reset()  //reset.css
//or
//@import "normalize.css"; 


/*BASIC STYLES*/
.clearfix
  clearfix()

* 
  box-sizing border-box
  
html
  font-size 100%
  
body
  min-width 320px
  color $base-font-color
  font-size $base-font-size
  line-height 1.6
  font-family: "RobotoRegular", sans-serif
  overflow-x: hidden
  font-smoothing antialiased
  scroll-behavior smooth

/*============================================*/

//Custom Styles Here
header
  background-color #a3a3a3

main
  background-color #dad5e0
  p
    font-size 1.4rem
    font-variant small-caps
    font: 12pt/10pt  sans-serif;
  
.footer
  height 100px
  background-color #a3a3a3

.external {
  background-color: yellow
}
  
.x
  size 100px
  border black
  background-color red
  transition background-color 1s
  transform translateZ(0)
  &:hover
    background-color aquamarine

    
body
  background-color: #333

.toggle-mnu 
  display: block
  width: 28px
  height: 28px
  margin-top: 14px

  span:after, span:before 
    content: ""
    position: absolute
    left: 0
    top: 9px

  span:after
    top: 18px

  span 
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: #fff
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px


  &.on span 
    background-color: transparent

  &.on span:before 
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after 
    transform: rotate(-45deg) translate(6px, -7px)
