/*RESET BROWSER'S STYLES*/
global-reset()  //reset.css
//or
//@import "normalize.css"; 


/*BASIC STYLES*/
.clearfix
  clearfix()

* 
  box-sizing border-box
  
html
  font-size 100%
  
body
  color base-font
  font-size 1.4rem
  line-height 1.4
  font-smoothing antialiased
  scroll-behavior smooth

  
/*FOOTER TO BOTTOM*/
html, body
  height 100%

.wrap
  min-height 100%
  main
    padding-bottom 100px

footer
  height 100px
  margin-top -100px
/*footer end*/


/////////////////////////////////////////////
//Custom Styles Here
header
  background-color aquamarine

main
  background-color #7fd8ff
  
footer
  background-color #d69740











//////////////////////////////
//always bottom
.hidden
	display: none !important